*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  text-align: center;
}

body h1{
  font-size: 2rem;
  margin: 20px 0;
  color: green;
  font-weight: bold;
  text-transform: uppercase;
}

body ul{
 display: flex;
  justify-content: center;
  font-size: 17px;
  line-height: 17px;
}

body ul li{
  margin: 10px 10px;
}

body h2{
  font-size: 1rem;
  background-color: black;
  color: red;
  width: 210px;
  border-radius: 20%;
  padding: 10px;
  margin: 20% auto 2% auto;
  text-transform: uppercase;
}

.streaming-platforms a{
  text-decoration: none;
  font-size: 30px;
}

.bookings p{
  text-transform: uppercase;
  margin: 10px 0;
}

.bookings button{
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  width: 100px;
}

.email{
  background-color: red;
}

.whatsapp{
  background-color: green;
}

.bookings a{
  display: block;
  margin: 10px 0;
}

.booking-details h2{
  background-color: none;
}